venv/
__pycache__/
*.pyc

personas_autorizadas/
*.jpg
*.jpeg
*.png

.vscode/
personas_autorizadas/
fotos_pendientes/
llaves.db
temp_*.jpg
venv/
.pio/
.venv/
pb_data/
pws.txt
frontend/node_modules/
frontend/dist/
node_modules/
.env